body {
  font-family: serif;
  font-style: oblique;
  background-color: #000000;
  text-align: center;
  padding: 10px;
}

title {
  color: #ffffff
}

h1 {
  color: #ffffff;
  font-family: serif;
  font-style: normal;
}

h2 {
  color: #ffffff;
  font-family: serif;
  font-style: normal;
}

h3 {
  color: #f47796;
  font-style: normal;
}

p {
  color: #ffffff;
  font-family: serif;
  font-style: normal;
  line-height: 40px;
}

.center-container {
  text-align: center
}


.logo {
  width: 200px;
  margin-top: 20px;
}

.header-logo {
  width: 200px
}

.home-header {
  width: 600px;
  margin-top: 40px;
}

.profilepic {
  width: 300px;
  margin-top: 1px;
}

.about {
  color: #ffffff
}

.topnav {
  background-color: #360511;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  font-style: normal;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #801f2f;
  color: white;
}