body {
  font-family: sans-serif;
  font-style: oblique;
  background-color: #260334;
  text-align: center;
  padding: 10px;
}

title {
  color: #ffffff
}

h1 {
  color: #ffffff;
  font-family: sans-serif;
  font-style: normal;
  text-decoration: none;
}

h2 {
  color: #ffffff;
  font-family: sans-serif;
  font-style: normal;
  text-decoration: none;
  line-height: 35px;
}

h3 {
  color: #cb8cf7;
  font-family: sans-serif;
  font-style: normal;
}

p {
  color: #ffffff;
  font-family: sans-serif;
  font-style: normal;
  line-height: 40px;
}

.center-container {
  text-align: center
}


.logo {
  width: 200px;
  margin-top: 20px;
}

.banner-logo {
  width: 170px;

}

.home-header {
  width: 600px;
  margin-top: 40px;
}

.profilepic {
  width: 300px;
  margin-top: 1px;
}

.about {
  color: #ffffff
}

.Youtube_logo {
  width: 100px;
}

.Instagram_icon {
  width: 100px;
}

.AM_icon {
  width: 100px;
  padding-right: 30px;
}

.Pinterest-logo {
  width: 100px;
}

.GoFundMe_logo {
  width: 300px;
}

.flyer {
  width: 450px;
  align-items: center;
}

.home-flyer {
  width: 450px;
}

.topnav {
  background-color: #4f0972;
  overflow: hidden;
}

.toplogolink {
  float: left;
  width: 200px;
}

.apple-music-music-page {
  width: 100px;
}

.Spotify_logo {
  width: 100px;
  padding-left: 30px;
}

.YTMusic-icon {
  width: 100px;
  padding-left: 30px;
}

.Amazon-logo {
  width: 140px;
}

.Deezer-logo {
  width: 110px;
  padding-left: 30px;
}

.Pandora-logo {
  width: 250px;
}

.heart-radio-logo {
  width: 150px;
}

.Tidal-logo {
  width: 110px;
  padding-left: 30px;
}

.insta-logo-music {
  width: 120px;
}

.tiktok-logo {
  width: 120px;
  padding-left: 30px;
}

.Snapchat_logo {
  width: 125px;
  padding-left: 30px;
}

.cs-logo-about {
  width: 50px
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  font-style: normal;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c1acc9;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3b0a53;
  color: white;
}